@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

input {
    outline: none;
}


:root {
    --light-black: #2D2B2C;
    --craem: #C9BB9B;
}

body {
    min-width: 320px;
    font-family: "Montserrat Alternates", sans-serif;
    /* color: var(--light-black); */
}


/* global */


.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    cursor: pointer;
    background: transparent;
}

.flex {
    display: flex;
}

.section {
    margin-bottom: 135px;
}

.container {
    margin: 0 auto;
    max-width: 89vw;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    position: relative;
    margin: 0;
    margin-bottom: 80px;
    text-align: center;
    font-weight: 500;
    letter-spacing: -3.12px;
    font-size: 48px;
}

.title::after {
    position: absolute;
    font-size: 168px;
    font-style: italic;
    left: 53%;
    top: -72px;
    opacity: 0.1;
}

.text {
    font-weight: 500;
    font-size: 20px;
    line-height: 142.9%;
}

.btn {
    width: max-content;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    transition: color 0.3s ease-in-out;
}

.btn:hover {
    color: var(--craem);
}

.btn::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    background-image: url("img/btn-arrow.png");
    background-repeat: no-repeat;
    background-size: 235px;
    height: 20px;
    width: 235px;
}

/* ------------- ------------- */
/* header */

.header-container {
    padding: 13px 0;
    justify-content: space-between;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 100px;
}

.item__link {
    transition: color 0.3s ease-in-out;
}

.item__link:hover {
    color: var(--craem);
}

/* burger menu  */

.nav__btn {
    position: relative;
    display: none;
}

.nav__btn::after {
    content: '_______';
}

.header__nav-mobile {
    position: absolute;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
    z-index: 11;
    right: 4%;
    width: 250px;
    background: white;
    visibility: hidden;
    transform: translateY(-120%);
    transition: .3s;
}

.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(3%);
}

.header__nav-mobile .nav__item {
    margin-right: 0;
}


/* swiper */
.swiper {
    height: 643px;
    max-width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 135px;

}

.slider-block {
    position: absolute;
    width: 100%;
    height: 643px;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 10;
    justify-content: center;
}

.company-name {
    align-self: flex-end;
    color: #FFF;
    font-size: 8.5vw;
    line-height: 14vh;
    font-family: "Michroma", sans-serif;
}

/* works */
.works__slider{
    display: none;
}

.works__title::after {
    content: '0/1';
}

.works__content {
    flex-direction: column;
    row-gap: 50px;
}

.works__button {
    align-self: flex-end;
}

.photos__photo {
    max-width: 407px;
    flex-direction: column;
    row-gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* первые два фото */

.photos__photo:first-child .photo:first-child {
    height: 100%;
}

.photos__photo:first-child .photo:last-child {
    height: 685px;
}

/* второй див с фото */

.photos__photo:nth-child(2) {
    max-width: 675px;
}

.photos__photo:nth-child(2) .photo:first-child,
.photos__photo:nth-child(2) .photo:last-child {
    height: 100%;
}

/* третий див с фото */

.photos__photo:nth-child(3) .photo {
    height: 100%;
}

/* последний див с фото */

.photos__photo:last-child .photo:first-child {
    height: 670px;
}

.photos__photo:last-child .photo:last-child {
    height: 100%;
}

.works__content-photos {
    column-gap: 20px;
}

.works__button {
    margin-right: 180px;
}



/* about-us */
.about-us__content {
    column-gap: 20px;
}

.content__block {
    flex-direction: column;
    max-width: 100%;
}

.content__block:not(:nth-child(2)) {
    padding-top: 90px;
}

.content__block:nth-child(2) {
    flex-direction: column-reverse;
    row-gap: 80px;
}

.content__block:nth-child(2) .about-us__button {
    margin-bottom: 0;
}

.content__block:nth-child(3) {
    max-width: 676px;
}

.about-us__button {
    margin-bottom: 80px;
}

.about-us__title::after {
    content: '0/2';
}

.content__block .photo {
    height: 645px;
}

.about-us__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* contacts */

.contact__container, .contact__form-wrapper, .form {
    flex-direction: column;
}

.contact__form-wrapper {
    row-gap: 35px;
    margin: 0 auto;
    max-width: 620px;
    margin-bottom: 150px;
}

.contact__title::after {
    content: '0/3';
}

.form__div {
    flex-direction: column;
}

.form__input {
    padding: 10px;
    height: 50px;
    border: 1px solid #C9BB9B;
    margin-bottom: 20px;
}

.form__input::placeholder {
    opacity: 0.6;
    color: #C9BB9B;
}

.form__input:last-child {
    margin-bottom: 80px;
}

.form__button {
    align-self: center;
}



/* social */

.social {
    flex-direction: column;
    margin: 0 auto;
}

.email {
    margin-bottom: 40px;
}

.icon {
    column-gap: 50px;
}

.icon svg {
    cursor: pointer;
}

.icon svg path {
    transition: fill 0.3s ease-in-out;
}


.icon svg:active path {
    fill: var(--craem);
}


/* footer */
.footer {
    justify-content: center;
    padding: 20px;
    background-color: var(--light-black);
}

.footer__span {
    color: white;
    opacity: 0.4;
}


@media (max-width: 1824px) {
    .company-name {
        font-size: 8.5vw;
        line-height: 14vh;
    }

    .photos__photo:nth-child(2) .photo:last-child {
        max-height: 385px;
    }
}

@media (max-width: 1705px) {
    .works__button {
        margin-right: 73px;
    }
}

@media (max-width: 1646px) {
    .container {
        max-width: 92vw;
    }
}

@media (max-width: 1470px) {
    .btn::after {
        background-size: 215px;
    }
}

@media (max-width: 1420px) {
    .btn::after {
        background-size: 198px;
    }

    .content__block:nth-child(3) {
        max-width: 600px;
    }

    .title {
        font-size: 32px;
    }

    .title::after {
        font-size: 134px;
        top: -60px;
    }
}

@media (max-width: 1295px) {
    .btn::after {
        background-size: 180px;
        width: 200px;
    }

    .container {
        max-width: 98vw;
    }

    .text {
        font-size: 18px;
    }

    .about-us__button {
        margin-bottom: 35px;
    }

    .contact__form-wrapper {
        max-width: 485px;
    }
}

@media (max-width: 1228px) {
    .btn::after {
        background-size: 160px;
        width: 165px;
        top: 30px;
    }

    .container {
        max-width: 92vw;
    }

    .content__block .photo {
        margin-bottom: auto;
    }
}

@media (max-width:1170px) {

    .about-us__content {
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    .about-us__button {
        margin-bottom: 0;
        height: max-content;
    }

    .btn::after {
        background-image: url("img/btn-arrow-tablet.png");
        background-size: 90px;
        width: 95px;
        top: 40px;
    }

    .content__block {
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
    }

    .content__block:nth-child(3) {
        flex-direction: column;
        max-width: 100%;
    }

    .content__block:last-child {
        display: none;
    }

    .content__block:not(:nth-child(2)) {
        padding-top: 0;
    }

    .content__block:nth-child(2) {
        flex-direction: row-reverse;
    }

    .content__block .photo {
        height: 200px;
        width: 100%;
    }

}

@media (max-width: 964px) {
    .header__nav {
        display: none;
    }

    .nav__btn {
        display: block;
    }


    .swiper {
        height: 450px;
    }

    .slider-block {
        height: 450px;
    }

    .company-name {
        line-height: 8vh;
    }
}

@media (max-width: 675px) {
    .swiper {
        height: 350px;
    }

    .slider-block {
        height: 350px;
    }

    .company-name {
        line-height: 5.5vh;
    }

    .works__content-photos {
        column-gap: 5px;
    }

    .photos__photo {
        row-gap: 5px;
    }
}

@media (max-width: 528px) {
    .swiper {
        height: 250px;
    }

    .slider-block {
        height: 250px;
    }

    .company-name {
        line-height: 4.5vh;
    }

    .works__slider {
        display: block;
        height: 250px;
    }

    .works__slider .swiper {
        margin-bottom: 0;
    }

    .works__content-photos {
        display: none;
    }

    .swiper-pagination-bullet {
        background: #f8f8f8 !important;
        opacity: 1 !important;
    }

    .swiper-pagination-bullet-active {
        background: var(--craem) !important;
    }
}

@media (max-width: 450px) {
    .company-name {
        line-height: 5.5vh;
    }
}

@media (max-width: 415px) {
    .text {
        font-size: 16px;
    }
    .title{
        font-size: 26px;
        width: max-content;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .title::after {
        font-size: 32px;
        top: 0;
        left: -48px;
    }

    .works__slider .swiper-slide img {
        height: 100%;
    }

    .company-name {
        line-height: 5vh;
    }

    .swiper-slide img{
        height: 305px;
    }
}